@media only screen and (max-width: 600px) {
    .top-right{
        display: none;
    }
    .mid-left{
        display: none;
    }
    .mid-right{
        display: none;
    }
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}